@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

* {
  font-family: "Hind", sans-serif;
}
body {
  background: #73523f;
}

.chesspieces {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 300px;
  padding-right: 650px;
}
.chessboard {
  height: 600px;
  width: 600px;
  margin-top: 108px;
  position: absolute;
  margin-left: 651px;
  filter: invert(40%) sepia(53%) saturate(3141%) hue-rotate(343deg)
    brightness(95%) contrast(80%);
  border-style: solid;
}

.white_rook {
  margin-top: 8px;
  margin-left: 5px;
  position: absolute;
}

.white_knight {
  margin-top: 7px;
  margin-left: 0px;
  height: 68px;
  position: absolute;
}

.white_bishop {
  margin-top: 7px;
  margin-left: 2px;
  height: 68px;
  position: absolute;
}

.white_king {
  margin-top: 4px;
  margin-left: 2px;
  height: 70px;
  position: absolute;
}

.white_queen {
  margin-top: 6px;
  margin-left: 2px;
  height: 70px;
  position: absolute;
}

.white_pawn {
  margin-top: 6px;
  margin-left: 2px;
  height: 70px;
  position: absolute;
}

.black_rook {
  height: 70px;
  margin-top: 3px;
  margin-left: 1px;
  position: absolute;
}
.black_bishop {
  height: 70px;
  margin-top: 3px;
  margin-left: 1px;
  position: absolute;
}
.black_knight {
  height: 70px;
  margin-top: 3px;
  margin-left: 1px;
  position: absolute;
}
.black_king {
  height: 70px;
  margin-top: 3px;
  margin-left: 1px;
  position: absolute;
}
.black_queen {
  height: 68px;
  margin-top: 6px;
  margin-left: 3px;
  position: absolute;
}

.black_pawn {
  margin-top: 6px;
  margin-left: 2px;
  height: 70px;
  position: absolute;
}

.chesspieces img:hover {
  cursor: pointer;
}

.chesspieces .chessboard:hover {
  cursor: default;
}

.panel {
  display: grid;
  grid-template-columns: repeat(8, 4fr);
  grid-template-rows: repeat(8, 4fr);
  height: 600px;
  width: 600px;
  position: absolute;
  margin-left: -39px;
  margin-top: 108px;
  transform: rotate(180deg);
}

img {
  transform: rotate(180deg);
}
.rolabel {
  position: absolute;
  color: wheat;
  font-size: 24px;
  margin-top: 145px;
  /* font-family: "Hind", sans-serif; */
  background-color: #654836;
  width: 39px;
  margin-right: 682px;
  height: 639px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colabel {
  color: wheat;
  font-size: 24px;
  position: absolute;
  margin-top: 746px;
  margin-left: -40px;
  width: 603px;
  /* font-family: "Hind", sans-serif; */
  word-spacing: 6px;
  background-color: #654836;
  align-items: center;
}

.colabel span {
  margin-left: 50px;
  margin-top: 2px;
}

.selected {
  background-color: red !important;
  background-image: radial-gradient(
    rgb(255, 255, 255),
    rgb(0, 242, 255)
  ) !important;
  cursor: pointer !important;
}

.black {
  background-color: #b08268;
}

.white {
  background-color: #ffe1c4;
}

.caneat {
  background-color: red;
  background-image: radial-gradient(rgb(255, 255, 255), rgb(255, 60, 0));
  cursor: pointer;
}

.castling {
  background-color: red;
  background-image: radial-gradient(rgb(255, 255, 255), rgb(236, 188, 239));
  cursor: pointer;
}

.rotated {
  transform: rotate(360deg);
}

.rotated img {
  transform: rotate(360deg);
}

.bplayers {
  position: absolute;
  height: 37.3rem;
  width: 37.3rem;
  margin-left: 37.6rem;
}

.bplayer-stockfish-img {
  height: 3rem;
}

.busername1 {
  color: white;
  margin-top: -2.5rem;
  margin-left: 3.5rem;
}

.bplayer-user-img {
  height: 3rem;
  margin-top: 31.5rem;
}

.busername2 {
  color: white;
  margin-top: -2rem;
  margin-left: 4rem;
}

.players {
  position: absolute;
  height: 37.3rem;
  width: 37rem;
  margin-left: -37.3rem;
}

.stockfish-img {
  height: 3rem;
  width: 3rem;
  margin-top: 34.5rem;
  margin-left: 34.3rem;
}

.username1 {
  transform: rotate(-180deg);
  margin-right: 3.3rem;
  margin-top: -3.3rem;
  color: white;
}

.user-img {
  position: absolute;
  height: 3rem;
  width: 3rem;
  margin-top: -36.33rem;
  margin-left: 34.28rem;
}

.username2 {
  transform: rotate(180deg);
  color: white;
  margin-top: -36.2rem;
  margin-right: 3.3rem;
}

.queen_pick {
  position: absolute;
  margin-top: 14.4rem;
  margin-left: 0.2rem;
}
.rook_pick {
  margin-top: 10rem;
  margin-left: 0.35rem;
}

.knight_pick {
  margin-top: 5rem;
  margin-left: 0.25rem;
}

.bishop_pick {
  margin-top: 0.3rem;
  margin-left: 0.25rem;
}

.piece-pick {
  background-color: wheat;
  position: absolute;
  height: 18.9rem;
  width: 4.7rem;
  margin-top: -14.2rem;
  margin-left: 0rem;
}

.piece-pick img:hover {
  background-color: burlywood;
}

.extra-pick-margin {
  margin-top: 0rem;
  z-index: 1;
}
