@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
}
body {
  background: url("../media/Index_bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbox {
  top: 10%;
  height: 30rem;
  width: 30rem;
  border-color: white;
  border-style: solid;
  position: absolute;
  border-radius: 50px;
}

.heading {
  margin-top: 8%;
  margin-left: 10%;
  color: white;
}

.friend {
  margin-left: 10%;
  margin-top: 4%;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  border-color: aliceblue;
  color: aliceblue;
}

.stockfish {
  margin-left: 57%;
  margin-top: -2.35rem;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  border-color: aliceblue;
  color: aliceblue;
}

.white {
  margin-left: 10%;
  margin-top: 4%;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  border-color: aliceblue;
  color: aliceblue;
}

.black {
  margin-left: 57%;
  margin-top: -2.35rem;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  border-color: aliceblue;
  color: aliceblue;
}

.Easy {
  margin-left: 10%;
  margin-top: 4%;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  border-color: aliceblue;
  color: aliceblue;
}

.Medium {
  margin-left: 57%;
  margin-top: -2.35rem;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  border-color: aliceblue;
  color: aliceblue;
}

.Hard {
  margin-left: 34%;
  margin-top: 1.5rem;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  border-color: aliceblue;
  color: aliceblue;
  position: absolute;
}

.friend:hover,
.stockfish:hover,
.Easy:hover,
.Medium:hover,
.Hard:hover,
.white:hover,
.black:hover {
  cursor: pointer;
  background-color: aliceblue;
  color: rgb(2, 20, 46);
}

.playgame {
  margin-left: 0.5%;
  margin-top: 74.5rem;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  border-color: aliceblue;
  color: aliceblue;
  position: fixed;
}

.playgame:hover {
  cursor: pointer;
  background-color: rgb(2, 20, 46);
  color: aliceblue;
  border-color: transparent;
}

.selected {
  background-color: aliceblue;
  color: rgb(2, 20, 46);
}
