@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Exo+2:wght@100&family=Inter:wght@100;200;300;400&family=Permanent+Marker&family=Righteous&family=Tajawal:wght@200;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
* {
  animation: fadeIn 0.25s ease-in;
}

.btn {
  height: 36px;
  margin-left: 65%;
  margin-top: 73px;
  border-radius: 5px;
  border-style: none;
  position: fixed;
  width: 115px;
  background-color: #f9d342;
  color: #292826;
  font-family: "Righteous", cursive;
  font-weight: bold;
  font-size: 18px;
  position: fixed;
}

.btn1 {
  height: 36px;
  margin-left: 74%;
  margin-top: 73px;
  border-radius: 5px;
  position: fixed;
  width: 115px;
  background: transparent;
  color: #f9d342;
  font-family: "Righteous", cursive;
  font-weight: bold;
  font-size: 18px;
  border-style: solid;
  border-color: #f9d342;
  position: fixed;
}
.navbar {
  width: 100%;
  max-width: 4600px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 79px;
}

.image {
  height: 400px;
  width: 482px;
  margin-left: 22%;
  margin-top: 170px;
  filter: brightness(90%);
}

body {
  margin-top: 60px;
  background-color: black;
  overflow-y: scroll;
  background-size: 2000vh 1000vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.welcome {
  color: #f9d342;
  margin-top: -1281px;
  margin-left: -238px;
  position: fixed;
  font-family: "Righteous", cursive;
  font-size: 40px;
}

body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
}
.section {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg1 {
  background-color: #ccc;
}
.bg2 {
  background-color: #333;
}
h1 {
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}
.revealUp {
  opacity: 0;
  visibility: hidden;
}
.spacer {
  height: 50vh;
  background-color: #000;
}
